.github
.vscode
dist
docs
node_modules
.editorconfig
.env.example
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.prettierrc.js
commitlint.config.js
docker-compose.yml
Dockerfile
ecosystem.config.js
LICENSE

**/*.md
**/*.log