.changeset
.github
.vscode
config
data
dist
docs
logs
node_modules

.dockerignore
.editorconfig
.env.example
.eslintrc.json
.gitattributes
.gitignore
.lintstagedrc.js
.prettierrc.js
commitlint.config.js
compose.yaml
Dockerfile
LICENSE

*.md
**/*.md
**/*.log